footer.footer
	.container.footer__container
		.row.footer__columns
			.footer__column.col-lg-3
				h3.footer__title From The Blog
				a(href="javascript:void(0);").footer__link.footer__from_post-title Post Title
				a(href="javascript:void(0);").footer__link.footer__from_username Admin
					span.footer__from_sm-text , domainname.com
				span.footer__from_date Friday, 6th April 2000
				p.footer__text.footer__from_text Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna neque sed quis orci nulla.
				a(href="javascript:void(0);").footer__link Read More »
			.footer__column.col-lg-3
				h3.footer__title Quick Links
				nav.footer__nav
					ul.footer__list
						a(href="javascript:void(0);").footer__link
							li.footer__item Lorem ipsum dolor sit
						a(href="javascript:void(0);").footer__link
							li.footer__item Amet consectetur
						a(href="javascript:void(0);").footer__link
							li.footer__item Praesent vel sem id
						a(href="javascript:void(0);").footer__link
							li.footer__item Curabitur hendrerit est
						a(href="javascript:void(0);").footer__link
							li.footer__item Aliquam eget erat nec sapien
						a(href="javascript:void(0);").footer__link
							li.footer__item Cras id augue nunc
						a(href="javascript:void(0);").footer__link
							li.footer__item Sed a nulla urna
			.footer__column.col-lg-3
				h3.footer__title Latest Tweets
				.footer__tweet-wrap
					a(href="javascript:void(0);").footer__link @namehere 
					span.footer__text Justoid nonummy laoreet phasellent penatoque in antesque pellus elis eget tincidunt. Nequatdui laorem justo a non tellus laoremut vitae doloreet 1 day ago
				.footer__tweet-wrap
					a(href="javascript:void(0);").footer__link @namehere 
					span.footer__text Justoid nonummy laoreet phasellent penatoque in antesque pellus elis eget tincidunt. Nequatdui laorem justo a non tellus laoremut vitae doloreet 1 day ago
			.footer__column.col-lg-3
				h3.footer__title Contact Us
				form(action="#" method="post").footer__form
					input(type="text" placeholder="Full Name" name="username").footer__input
					input(type="email" placeholder="Email Address" name="email").footer__input
					input(type="text" placeholder="Subject" name="subject").footer__input
					textarea(placeholder="Message").footer__input.footer__input_textarea
					input(type="submit" value="SUBMIT").footer__btn