header.header
	.container
		.row
			a(href="javascript:void(0);").header__wrap-logo.col-lg-3
				span.header__logo The Modernist
				span.header__descr Free PSD Website Template
			nav.header__nav.col-lg-9
				ul.header__list
					li.header__item
						a.header__link(href="javascript:void(0);") Home
					li.header__item 
						a.header__link(href="javascript:void(0);") STYLE DEMO
					li.header__item 
						a.header__link(href="javascript:void(0);") FULL WIDTH
					li.header__item 
						a.header__link(href="javascript:void(0);") DROPDOWN
					li.header__item 
						a.header__link(href="javascript:void(0);") PORTFOLIO
					li.header__item 
						a.header__link(href="javascript:void(0);") GALLERY