section.lastest-work
	.container.lastest-work__container
		h2.lastest-work__title LATEST WORK
		.lastest-work__columns
			.row.lastest-work__row
				a(href="javascript:void(0);").lastest-work__column.col-lg-4
					img.lastest-work__img(src="static/img/content/lastest_work.jpg")
					h4.lastest-work__title-work LOREM IPSUM DOLOR
				a(href="javascript:void(0);").lastest-work__column.col-lg-4
					img.lastest-work__img(src="static/img/content/lastest_work.jpg")
					h4.lastest-work__title-work LOREM IPSUM DOLOR
				a(href="javascript:void(0);").lastest-work__column.col-lg-4
					img.lastest-work__img(src="static/img/content/lastest_work.jpg")
					h4.lastest-work__title-work LOREM IPSUM DOLOR
			.row.lastest-work__row
				a(href="javascript:void(0);").lastest-work__column.col-lg-4
					img.lastest-work__img(src="static/img/content/lastest_work.jpg")
					h4.lastest-work__title-work LOREM IPSUM DOLOR
				a(href="javascript:void(0);").lastest-work__column.col-lg-4
					img.lastest-work__img(src="static/img/content/lastest_work.jpg")
					h4.lastest-work__title-work LOREM IPSUM DOLOR
				a(href="javascript:void(0);").lastest-work__column.col-lg-4
					img.lastest-work__img(src="static/img/content/lastest_work.jpg")
					h4.lastest-work__title-work LOREM IPSUM DOLOR