section.services
	.container
		.row.services__wrap-columns
			a(href="javascript:void(0);").services__column.col-lg-3
				.services__wrap-img
					img.services__img(src="static/img/content/services.jpg" alt="128x128")
				h2.services__title SERVICE TITLE
				p.services__text Vestassapede et donec ut est libe ros sus et eget sed eget quisq ueta habitur augue
			a(href="javascript:void(0);").services__column.col-lg-3
				.services__wrap-img
					img.services__img(src="static/img/content/services.jpg" alt="128x128")
				h2.services__title SERVICE TITLE
				p.services__text Vestassapede et donec ut est libe ros sus et eget sed eget quisq ueta habitur augue
			a(href="javascript:void(0);").services__column.col-lg-3
				.services__wrap-img
					img.services__img(src="static/img/content/services.jpg" alt="128x128")
				h2.services__title SERVICE TITLE
				p.services__text Vestassapede et donec ut est libe ros sus et eget sed eget quisq ueta habitur augue
			a(href="javascript:void(0);").services__column.col-lg-3
				.services__wrap-img
					img.services__img(src="static/img/content/services.jpg" alt="128x128")
				h2.services__title SERVICE TITLE
				p.services__text Vestassapede et donec ut est libe ros sus et eget sed eget quisq ueta habitur augue