section.slider
	.container.slider__container
		.slider__main-wrap
			.slider__arrow.slider__arrow_prev
			.slider__arrow.slider__arrow_next
			.js_top-slider
				.slider__wrap
					.slider__wrap-text.col-lg-6
						h1.slider__title Cursus penati saccum nulla.
						p.slider__text Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat adipiscinia pellentum leo.
						a.slider__link(href="javascript:void(0);") Read More Here »
					.slider__wrap-img.col-lg-6
						img.slider__img(src='static/img/content/top-slider.jpg' alt='380х380')
				.slider__wrap
					.slider__wrap-text.col-lg-6
						h1.slider__title Cursus penati saccum nulla.
						p.slider__text Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat adipiscinia pellentum leo.
						a.slider__link(href="javascript:void(0);") Read More Here »
					.slider__wrap-img.col-lg-6
						img.slider__img(src='static/img/content/top-slider.jpg' alt='380х380')