$s-footer__item: 60px 0px -60px 0px 5px 5px 65px 28px 'sprite.png';
$s-top-slider__arrow-next: 0px 0px 0px 0px 15px 28px 65px 28px 'sprite.png';
$s-top-slider__arrow-prev: 30px 0px -30px 0px 15px 28px 65px 28px 'sprite.png';
