// BG
$bgHover: #76c38f;
$bgMain: #660000;
$bgBorderWrapImg: #6b6b6b;
$bgTop: #290000;
$bgLastWorkTitle: #303030;
$bgTitleWork: rgba(0, 0, 0, 0.6);
$bgFooter: #303030;
$bgBorderFooterList: #404040;
$bgFooterInput: #222222;
$bgCopyright: #2b2b2b;

// COLOR
$colorLink: #76c38f;
$colorMain: #979797;
$colorServicesTitle: #333333;
$colorFooterLink: #76c38f;
$colorPlaceholder: #989898;
$colorFooterBtn: #303030;

// FONTS
$fontMain: Georgia, serif;
$fontLink: Georgia, serif;
